<h1 data-test="title-text">Welcome to ng-angularfire-testbed</h1>
<p><a href="/">Home</a></p>
<p><a href="/componentA">Component A</a></p>
<p><a href="/componentB">Component B</a></p>
<p><a href="/firestoreCompat">Firestore Compat</a></p>

<div *ngIf="auth.user | async as user; else showLogin">
  <h1 data-test="hello-text">Hello {{ user.uid }}!</h1>
  <button (click)="signOut()">Sign Out</button>
  <div>
    <button data-test="start-listening-button" (click)="startListening()">
      Start listening to Firestore
    </button>
  </div>
  <div>
    <button (click)="addItem()">Add Item</button>
  </div>
  <div>
    <button (click)="addItemSet()">Add Item Set</button>
  </div>
  <ul *ngIf="items | async; else notListening" data-test="list">
    <li data-test="list-item" *ngFor="let item of items | async">
      {{ item.name }}
    </li>
  </ul>
</div>
<ng-template #notListening> Not listening to Firestore </ng-template>
<ng-template #showLogin>
  <p data-test="sign-in-text">Please sign in.</p>
  <button (click)="signInAnonymously()">Sign In Anonymously</button>
  <div>
    <button (click)="signInWithEmailAndPassword()">
      Sign In With Email And Password
    </button>
  </div>
  <div>
    <button (click)="signInWithEmailAndPasswordWithNonExistantUser()">
      Sign In With Email And Password With Non-ExistantUser
    </button>
  </div>
</ng-template>

<router-outlet></router-outlet>
